<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="from-group">
        <label for="exampleInputEmail">Username</label>
        <input type="" class="form-control" id="" name="username1" aria-describedby="emailHelp">
    </div>
    <div class=" from-group">
        <label for="exampleInputPassword">Password</label>
        <input type="password" name="password1" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>